<div class="chat">
	<div class="messages-window" #messagesWindow>
		<div *ngFor="let messageBlock of organizedMessages" class="message-block">
			<img *ngIf="messageBlock[0].hasAvatar()" src="{{messageBlock[0].avatar}}" class="avatar" (error)="setDefaultAvatar($event)" />
			<div class="content">
				<b>{{messageBlock[0].author}}</b><br />
				<div *ngFor="let message of messageBlock" class="message" [innerHTML]="(message.message ?? '') | chatMessage"></div>
			</div>
		</div>
	</div>
	<form class="write-message valign-wrapper">
		<div class="input-field">
			<label for="message-input">Type your message here..</label>
			<textarea #messageTextarea [(ngModel)]="typedMessage" name="message" id="message-input" class="materialize-textarea" style="max-height: 108px;"></textarea>
		</div>
		<a (click)="sendMessage()" class="btn tooltipped" data-tooltip="Press Enter to send<br>Shift + Enter to insert new line"><i class="small material-icons">keyboard_return</i></a>
	</form>
</div>
<h3>Users online:</h3>
<div class="users-list">
	<div *ngFor="let data of this.usersOnlineToDisplay" class="user">
		<!-- Can't make it via "bypassSecurityTrustHtml" because of infinite loop when this method is used -->
		<b *ngIf="data.isMyProfile else otherUser">
			<img src="{{data.profile.avatar}}" (error)="setDefaultAvatar($event)" />
			{{data.profile.name}}
		</b>
		<ng-template #otherUser>
			<img src="{{data.profile.avatar}}" (error)="setDefaultAvatar($event)" />
			{{data.profile.name}}
		</ng-template>
	</div>
</div>
<app-chat-markdown-info-modal></app-chat-markdown-info-modal>
<app-chat-share-modal></app-chat-share-modal>
