<div class="top-info">
	<div class="row center">
		<h3>Use chit chat for private chatting!</h3>
		<b>Chit Chat is server-less chat with solutions that gives you maximum of privacy!</b><br />
		We don't like when someone spies on us, so we are not going to spy on you!<br />
		Does it sounds fair enough? If yes, then don't wait and start chat! <b>No account is required!</b><br />
		<br />
		<a (click)="startChat()" class="btn">Start chat now!</a>
	</div>
</div>

<div class="why-should-use">
	<h3 class="center">Why you should use Chit Chat:</h3>
	<div class="row center">
		<div class="col m4">
			<i class="large material-icons">https</i>
			<h4>Security</h4>
			Everything you send through chat is secured by 128 bit key, what makes that your messages couldn't be read by anyone, because of endpoint to endpoint encryption!
		</div>
		<div class="col m4">
			<i class="large material-icons">storage</i>
			<h4>No logs policy</h4>
			We treat privacy seriously, and that's why we don't store any logs about your activity. No logs. Nope. Nada. You know why? Cause we aren't interested in selling your data to 3rd party companies!
		</div>
		<div class="col m4">
			<i class="large material-icons">face</i>
			<h4>Anonymous</h4>
			It's hard to stay anonymous, isn't it? Thats why we decided to get rid of sending all data through our servers and decided to provide you secure chat without using our server! Yes, it's true, thanks to Peer to Peer connection right in your browser!
		</div>
	</div>
</div>
